.thumbnail-button-container {
    position: relative;
    display: inline-block;

    .thumbnail-button {
        padding: 0;
        background-color: transparent;
    }

    .thumbnail-button:focus {
        outline: none;
    }
}